@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace STAVerwaltung.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/fluent-base.css" rel="stylesheet" />
    <link rel="icon" href="favicon.ico" />
    <link href="css/site.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <!-- 21.11.2023 gp Funktion zum Fokussetzen über den Namen des Elemets -->
    <script>
        window.setFocusOnElementByName = (elementName) => {
            const elements = document.getElementsByName(elementName);
            if (elements.length > 0) {
                elements[0].focus();
            }
        }
        
        window.removeFocus = (selector) => {
            const element = document.querySelector(selector);
            if (element) {
                element.blur();
            }
        
        }
    </script>    

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
</body>
</html>
